.body{
    background: white;
    width: 100%;
    height: 100%;

}

.title{
    text-align: center;
    font-size: 40px;
    color:black;
    margin-top: 100px;
    font-weight: 100;
    font-family: "Arial";

}
.courses {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin-left: 85px;
    margin-right: 10px;


}

.course {
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    box-shadow: 1px 1px 5px rgb(103, 100, 100);
    background-color: #408bd7;

}
.course:hover{

    border:solid rgb(16, 36, 168) 2px;
    overflow:hidden

}
.course:hover img{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

.coursecontenido{

    padding: 15px;
    text-align: center;
    justify-content: space-between;

}
.name{
    font-family: "Arial ";
    margin-top: 35px;
    height: 50px;


}
.description{
    font-family: "Arial";
    margin: 20px;
    height: 85px;
    text-align: justify;


}



